@import "../../_colors.scss";
@import "../../_fonts.scss";

.video-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: $white;
  padding: 15px;
  margin: 20px;
  max-width: 500px;
  height: auto;
  width: 100%;

  video {
    width: 100%;
    height: auto;
  }
}

.number-circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 8px;
  background: $gray;
  text-align: center;
}

.title {
  position: relative;
  left: 10px;
  top: 8px;
}

.number-title-container {
  display: flex;
}

@media only screen and (max-width: 750px) {
  .video-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: $white;
    padding: 15px;
    margin: 0 auto;
    max-width: 90vw;
    height: auto;
    width: 100%;
  }
}
