@import "../../_colors.scss";
@import "../../_fonts.scss";

.nav-sub-menu {
  position: absolute;
  left: 0px;
  top: 102px;
  background-color: $subMenuBG;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .menu-shop-link {
    text-decoration: underline;
    text-decoration-color: $darkYellow;
    position: relative;
    top: 25px;
  }

  .menu-shop-link:hover {
    text-decoration-color: $darkGray;
  }


}

.nav-sub-menu-container {
  display: flex;
  flex-direction: row;
}

.shop-arrow-link {
  background-color: white;
  position: absolute;
  padding: 18px;

  a {
    padding-right: 0px;
  }
}