@import "../../_colors.scss";
@import "../../_fonts.scss";

.announcements-bar {
  background-color: $darkGray;
  height: 42px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  
  a {
    color: $white;
    font-size: 20px;
    text-decoration: underline;
  }
}

.announcements-container {
  color: $white;
  grid-column-end: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.referral-container {
  grid-column-end: -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
    margin-right: 50px;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: $yellow;
  }
}

@media only screen and (max-width: 1030px) {
  .referral-container {
    display: none;
  }

  .announcements-bar {
    display: flex;
    justify-content: center;
  }
}

.opening {
  margin-top: 0px;
  transition: margin-top 0.5s;
}

.closing {
  margin-top: -42px;
  transition: margin-top 0.5s;
}
