$darkGray: #2f333c;
$white: #ffffff;
$yellow: #ffce29;
$lightYellow: #ffe48c;
$darkYellow: #d9a602;
$buttonHover: #ffd753;
$searchBorder: #cfd5de;
$searchIcon: #a3a8b3; 
$bgGray: #f5f6fa;
$gray: #e3e9f6;
$black: #000000;