$darkGray: #2f333c;
$white: #ffffff;
$yellow: #ffce29;
$lightYellow: #ffe48c;
$darkYellow: #d9a602;
$buttonHover: #ffd753;
$searchBorder: #cfd5de;
$searchIcon: #a3a8b3; 
$cardBorder: #d7d7d7;
$bgGray: #f5f6fa;
$gray: #e3e9f6;
$black: #000000;
$footerGray: #212634;
$connectFormDark: #4b5d6e;
$connectFormLight: #8eacc8;