@import "_colors.scss";
@import "_fonts.scss";

body,
html {
  overflow-x: hidden;
}

.landing-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  background: url("https://cdn.shopify.com/s/files/1/0284/2666/6115/files/DogLovers_Hero_Desktop_0120.jpg?v=1579042346")
    center center;
  width: 1600px;
  background-position: fixed;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: auto;

  h1 {
    color: $white;
    max-width: 800px;
    text-align: center;
  }
}

.how-it-works-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    display: block;
    max-width: 693px;
    width: 100%;
    height: auto;
    padding-left: 30px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    padding-right: 50px;

    h2 {
      padding-bottom: 35px;
      margin: 0px;
    }

    p {
      margin: 0;
      padding-bottom: 25px;
    }
  }
}

@media only screen and (max-width: 975px) {
  .how-it-works-section {
    display: flex;
    flex-direction: column-reverse;

    img {
      display: block;
      max-width: 693px;
      width: 100%;
      height: auto;
      padding-left: 0px;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0px;
      padding: 40px;
    }
  }
}

.ruggable-real-life-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 80px;

  h2 {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 585px) {
  .ruggable-real-life-container {
    p {
      text-align: center;
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}

@media only screen and (max-width: 435px) {
  .header {
    h1 {
      font-size: 60px;
    }
  }
}
