@import "_colors.scss";

.landing-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.header {
  background: url("https://cdn.shopify.com/s/files/1/0284/2666/6115/files/DogLovers_Hero_Desktop_0120.jpg?v=1579042346") center center;
  width: 1600px;
  background-position: fixed;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: auto;
  
  h1 {
    color: $white;
    font-size: 5em;
    max-width: 800px;
    text-align: center;
  }
}

.how-it-works-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    display: block;
    max-width: 693px;
    width: 100%;
    height: auto;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;

    h2 {
      font-size: 40px;
      padding-bottom: 35px;
      margin: 0px;
    }

    p {
      font-size: 20px;
      margin: 0;
      padding-bottom: 25px;
    }
  }
}

@media only screen and (max-width: 975px) {
  .how-it-works-section {
    display: flex;
    flex-direction: column-reverse;

    img {
      display: block;
      max-width: 693px;
      width: 100%;
      height: auto;
    }
  
    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
    }
  }
}



