@import "_colors.scss";
@import "_fonts.scss";

button {
  background-color: $yellow;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
}

button:hover {
  background-color: $buttonHover;
}