@import "_colors.scss";
@import "_fonts.scss";

.card-section-container {
  width: 100%;
  height: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 0px;
    padding-top: 70px;
  }
  button {
    margin-top: 40px;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
}