@import "_colors.scss";
@import "_fonts.scss";

.footer {
  background-color: $footerGray;
  color: $white;  
  height: 655px;
  display: flex;
  align-items: center;

  h4 {
    color: $lightYellow;
  }

  p {
    font-size: 13.5px;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $lightYellow;
  }
}

.footer-container {
  max-width: 1085px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 30px;
}

.footer-links {
  display: flex;
  justify-content: space-between;

  ul {
    padding-left: 0px;
  }

  li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13.5px;
  }
  li:hover {
    text-decoration: underline;
    text-decoration-color: $yellow;
  }
}

.connect-socialize {
  max-width: 255px;
  
  button {
    border-radius: 0px;
    padding: 3px;
    background-color: $connectFormLight;
    color: $footerGray;
    font-size: 15px;
  }
  input {
    background-color: $connectFormDark;
    height: 30px;
    padding-left: 10px;
  }
  input::placeholder {
    font-style: italic;
    color: #b4bbc3;
    font-size: 15px;
  }
  form {
    display: flex;
    width: 270px;
    border-bottom: 2px solid $connectFormLight;
  }

}

.company-currency {
  button {
    border-radius: 0px;
    padding: 5px 10px 5px 10px;
  }
}

.usd, .usd:hover {
  background-color: $white;
}


.cad, .cad:hover {
  background-color: $gray;
  color: $searchIcon;
}
