@import "_colors.scss";
@import "_fonts.scss";

.shop-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  max-width: 230px;

  img {
    max-width: 230px;
    width: 100%;
    height: auto;
  }

  p {
    margin-bottom: 0px;
  }

  .rug-title:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1175px) {
  .shop-card-container {
    grid-auto-flow: row;

    img {
      max-width: 475px;
      width: 100%;
      height: auto;
    }
  }
}
